<?xml version="1.0" encoding="utf-8" ?>
<uSyncPublisher 
  incomingEnabled="false" 
  outgoingEnabled="true" >

  <!-- incomingEnabled - means this server can be pushed to -->
  <!-- outgoingEnabled - means this server can push content out -->
  
  <!-- optional - identify this server, It just allows you to 
  know what box you are on (and it removes it from the send to list)
       
       can also be overridden with appSettings key 
       <add key="uSync:Server" value="[serverAlias] />       
  -->
  <server>Live</server>

  <!-- authentication keys for this server:
  
    they must match what other servers send this server

    Can also be overridden with appSettings key 

          <add key="uSyncPublish:AppId" value="AppId" />       
          <add key="uSyncPublish:AppKey" value="AppKey />
  
    Id/Key generation will be generated first time you
    look at the settings (and they are blank) 
  -->
  
  <!-- Restart the Application after changing these values! -->
  <appId></appId>
  <appKey></appKey>

  <!-- standard options for whats sent across to a server
        - values are yes, no, user-yes, user-no 
        - user- values are shown at send time
        - can be set per server too 
      -->

  <!-- include the parents of the node -->
  <includeAncestors>no</includeAncestors>

  <!-- include any template files required -->
  <includeFiles>no</includeFiles>

  <!-- include the children of this node -->
  <includeChildren>user-yes</includeChildren>
  
    <!-- include any media items required for the content -->
  <includeMedia>user-yes</includeMedia>
  
  <!-- include content linked to from this content -->
  <includeLinked>no</includeLinked>
  
  <!-- include things like required doctypes, datatypes -->
  <includeDependencies>no</includeDependencies>

  <!-- include media files as part of any sync -->
  <!-- this one is redundant at the moment, as media files are always checked 
       as part of a media sync -->
  <!-- so its not in the UI -->
  <includeMediaFiles>no</includeMediaFiles>
  
  <!-- delete items from the server not send in the sync (only for folders of items)-->
  <deleteMissing>user-yes</deleteMissing>

  <!-- / end send settings -->

  <!-- the groups you need to be in to send (this is all, can be per server) -->
  <groups>admin,editor</groups>

  <handlerSet>publisher</handlerSet>

  <!-- extra folders to check when including files in a sync -->
  <additionalFolders>~/views,~/css,~/scripts</additionalFolders>

  <servers>

    <!-- example site -->
    <server alias="development" enabled="true" url="[https://my.devserver.url/umbraco]" showSelf="false" pullEnabled="true">
      <name>Development</name>
      <icon>icon-lab color-blue</icon>
      <description>Development Server</description>
      <includeDependencies>user-yes</includeDependencies>
      <includeFiles>user-yes</includeFiles>
      <includeLinked>no</includeLinked>
      <includeAncestors>no</includeAncestors>
    </server>
    <!--  you can leave appId and appKey blank, and the global ones
          will be used for all communications or you can have 
          a diffrent appId/Key for each server 
    -->
    <!--
    <server alias="Live"
            url="http://localhost:56789/umbraco"
            enabled="true">
        <appId>ec62e1f9-b5e2-4b65-ad78-6ff58d6faee0</appId>
        <appKey>Zaprs7hO0fjAOX+8LfS1UIoIDlwnSnKoNK/ItnpbFOc=</appKey>
    </server>
    -->
  </servers>
</uSyncPublisher>