<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>True</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    <ReportDebug>False</ReportDebug>
    <!-- extensions -->
    <Exporter>
      <!-- by default we don't include Templates in our dependencies -->
      <IncludeTemplates>false</IncludeTemplates>
      <!-- by default we turn off the existing 'export' options -->
      <DisableExistingMenuItems>true</DisableExistingMenuItems>
    </Exporter>
    <Snapshots>
      <Snapshots>views,css,scripts</Snapshots>
    </Snapshots>
    <HandlerSets default="default">
      <Handlers Name="default">
        <Handler Alias="dataTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="languageHandler" Enabled="true" Actions="All" />
        <Handler Alias="macroHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="templateHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTemplateHandler" Enabled="true" Actions="All" />
        <Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
        <Handler Alias="domainHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberGroupHandler" Enabled="true" Actions="All" />
        <Handler Alias="userHandler" Enabled="true" Actions="All" />
        <Handler Alias="userGroupHandler" Enabled="true" Actions="All" />
        
        <!-- if you wish to export / import inline media 
               where the image cropper is directly attached to the content 
               you need the media file handler -->
        <!-- <Handler Alias="mediaFileHandler" Enabled="true" /> -->
      </Handlers>
      
      <Handlers Name="publisher">
        <Handler Alias="dataTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="languageHandler" Enabled="true" Actions="All" />
        <Handler Alias="macroHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="templateHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="publishedContentHandler" Enabled="true" Actions="All" />
        <!-- <Handler Alias="contentHandler" Enabled="true" Actions="All" /> -->
        <Handler Alias="contentTemplateHandler" Enabled="false" Actions="All" />
        <Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
        <Handler Alias="domainHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberHandler" Enabled="false" Actions="All" />
        <Handler Alias="memberGroupHandler" Enabled="false" Actions="All" />
        <Handler Alias="userHandler" Enabled="false" Actions="All" />
        <Handler Alias="userGroupHandler" Enabled="false" Actions="All" />
	<Handler Alias="mediaFileHandler" Enabled="true" Actions="All">
	  <Add Key="IncludeFileHash" Value="true" />
	</Handler>
      </Handlers>
    </HandlerSets>
  </BackOffice>
</uSync>
